@media only screen and (max-width: 4100px) {
    #hamb-btn {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #hamb-btn {
        font-size: 3.5em;
        display: inline;
    }

    .fa-bars {
        color: #ba9f6f;
    }

    .fa-bars:hover {
        cursor: pointer;
    }

    nav { 
        display: none;
    }

    header .logo {
        width: 120px;
    }

    header .searchbar {
        font-size: 2em;
        flex-grow: 1;
        margin: 0 60px;
    }

    .searchbar img {
        width: 30px;
    }

    .searchbar input {
        width: 80%;
    }

    .searchbar .login {
        padding: 2px 8px;
        font-size: 1em;
    }

    .index-main {
        width: 90vw;
    }
}