<a href="">AHOY!</a>
<div class="list">
    <ul class="help">
        <p>HELP</p>
        <hr>
        <li>VPN</li>
        <li>ADBLOCKING</li>
        <li>TORRENTING</li>
        <li>SAFE BROWSING</li>
    </ul>
    <ul class="community">
        <p>COMMUNITY</p>
        <hr>
        <li>FORUMS</li>
        <li>REQUEST</li>
        <li>TOP UPLOADERS</li>
        <li>GROUPS</li>
    </ul>
    <ul class="language">
        <p>LANGUAGE</p>
        <hr>
        <li>English</li>
        <li>Español</li>
        <li>Deutsch</li>
        <li>日本語</li>
        <li>中文(简体)</li>
    </ul>
</div>
<p class="copy">Dfragmnt © 2022 · Codo a Codo 22522</p>