<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css">
  <title>AHOY! Roam Free</title>
  <link rel="icon" href="../assets/icon.ico">
  <meta name="viweport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/mediaQueries.css">
</head>

<!-- BODY STARTS -->

<body class="index-body">
  <header></header>

  <!-- MAIN STARTS -->

  <main class="index-main">
    <div class="content" id="app">
      <div v-for="program in programs" class="card">
        <div class="card-img-cnt">
          <img class="imgCard" :src="'../assets/catalog/' +program.img" :alt="program.name + ' picture'">
        </div>
        <p class="name">{{program.name}}</p>
        <div>
          <p id="opsystem">· {{program.os}}</p>
          <p>· {{program.category}}</p>
        </div>
        <div class="stats-container">
          <p class="stats-numbers" title="Views"><i class="fa-regular fa-eye"></i>{{program.views}}</p>
          <p class="stats-numbers" title="Completed Downloads"><i class="fa-solid fa-check"></i>{{program.downloads}}
          </p>
        </div>
      </div>
    </div>

    <!-- LOGIN POPUP WINDOW -->

    <div class="curtain" onclick="hideLogin()"></div>
    <div class="login-container" id="loginwindow"></div>

  </main>

  <footer></footer>

  <script src="../Javascript/jquery_functions.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../Javascript/crud.js"></script>
  <script src="../Javascript/navbuttons.js"></script>

</body>

<!-- BODY ENDS -->

</html>