<div class="div-login">
    <i class="fa-solid fa-xmark lgn-xmark" onclick="hideLogin()"></i>
    <a href="index.html" class="home"><img src="../assets/logo.png" alt="AHOY Brand Logo" class="logo"></img></a>
    <p id="getonboard">GET ON BOARD!</p>
    <form class="lgn-form" action="index.html" method="post">
        <input type="email" name="email" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <button id="lgn-btn" type="button" onclick="login()">Log in</button>
        <a href="#" id="btn-pass">Forgot Password?</a>
    </form>
    <p class="logintext">Don't have an account? <a href="register.html">Register</a></p>
</div>