<a href="index.html" class="home"><img src="../assets/logo.png" alt="AHOY Brand Logo" class="logo"></img></a>
<nav>
  <a href="#">Intro</a>
  <a href="#">News</a>
  <a href="">Categories</a>
  <a href="catalog.html">CRUD</a>
  <a href="#">About</a>
  <a href="#">Support</a>
</nav>
<div class="searchbar">
  <i class="fa-solid fa-magnifying-glass"></i>
  <input type="text" name="" value="" placeholder="Navigate..">
  <button class="login" onclick="showLogin()">Login</button>
</div>
<div id="hamb-btn">
  <i class="fa-solid fa-bars"></i>
</div>